/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* 
### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */

:root {
  /* Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%) ;

  /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
}


html {
  font-size: 15px;
}

body {
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

nav,
.container{
  width: 1100px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

nav > ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

nav > ul > li > a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 30px;
}

.container > section {
  flex: 2;
}

.container > aside {
  flex: 1;
}

.info {
  display: flex;
  gap: 50px;
}

.info > .item {
  flex: 1;
}

article  img {
  width: 100%;
}

.item  h1 {
  font-size: 4rem;
  margin: 20px 0 0;
}

.item-detail {
  margin-top: 20px;
}

.item-detail > a.btn {
  margin-top: 40px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px;
  background-color: var(--soft-red);
  color: var(--very-dark-blue);
  font-weight: 800;
}

.container > aside {
  flex: 1;
  background-color: var(--very-dark-blue);
  padding: 20px;
}

.container > aside > h2 {
  color: var(--soft-orange);
  margin-top: 10px;
  font-size: 2rem;
}

aside > .item {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.bb-none {
  border-bottom: none !important;
}

aside > .item > h3 {
  color: var(--off-white);
}

aside > .item > p {
  color: var(--grayish-blue);
}

.ft-container {
  display: flex;
  width: 1100px;
  margin: 60px auto;
}

.ft-container > .item {
  display: flex;
  flex: 1;
}

.ft-container > .item > div {
  flex: 2;
  padding: 0 20px;
}

.ft-container > .item > img {
  width: 100px;
  max-height: 120px;
}

.ft-container > .item h2 {
  color: var(--soft-red);
  margin: 0;
}

.ft-container > .item h3 {
  color: var(--very-dark-blue);
  margin: 10px 0 5px;
}

.ft-container > .item p {
  color: var(--dark-grayish-blue);
  margin: 0;
}